body {
    background-color: rgb(199, 199, 199);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

/* Positioning for everything may have to be changed once proper image size is set to a constant (once we have the images and i can see what the size needs to be) and also where the buttons need to be positioned to be relative to the image(s)*/
.image {
    position: fixed;
    right: 300px;
    top: 150px;
    max-width: 30%;
    max-height: 80%;
}

/* Style for No Button*/
.no {
    position: fixed;
    right: 765px;
    top: 700px;
    font-size: 20px;
}

/* Style for Yes Button*/
.yes {
    position: fixed;
    right: 300px;
    top: 700px;
    font-size: 20px;
}

/* h1 Style*/
.h1 {
    position: fixed;
    right: 455px;
    top: 75px;
    color: black;
}

/* hr Style*/
hr {
    border-bottom: 10px solid navy;
}

.hr2 {
    border-bottom: 10px solid gold;
    width: 700px;
}

/* Button Style*/
button {
    background-color: rgb(0, 0, 128);
    border: solid black;
    color: gold;
    text-align: center;
    font-size: 10%;
}

.colorchange {
    font-size: 20px;
}
